*{
    margin: 0;
    padding:0;
}
body{
    max-width: 1280px;
    margin: 0 auto;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 24px;
    height: 64px;
    background-color: #fff;  
    flex-direction: row;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    
}
.logo img{
    height: 32px;
    
}
.nav-menu{
    display:flex;
    gap:16px;
    list-style: none;
}
.nav-menu a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.hero{
    display: flex;
    align-items: center;
    padding: 64px 0px 32px 0px;
    background-color: #d7d7d7;
}
.hero img{
    width: 60%;
    padding-top: 32px;
    margin-left: 24px;
}
#text{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}
