.header{
    display:flex;
    align-items:center;
}
#logo{
    display: flex;
    align-items: center;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 24px;
    height: 64px;
}